<%- include('header') -%>

<h1>About Me</h1>

<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis tenetur rerum
	pariatur voluptatem. Ipsa nam ipsum ut veritatis ullam tempora repellendus
	modi harum nesciunt. Repellendus cum ullam corporis quibusdam dicta nesciunt
	voluptatem iure deleniti sint fugiat quae voluptatum maxime quis facilis
	explicabo illum aspernatur totam accusamus, labore exercitationem, magni
	sapiente.
</p>

<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti architecto,
	ad officia harum asperiores optio nobis. Reiciendis aperiam voluptas
	consequuntur perspiciatis. Consectetur libero nostrum voluptate, ipsum fuga
	assumenda corrupti sint perspiciatis tempore! Cupiditate sit dolor sequi omnis
	ex quaerat velit!
</p>

<%- include('footer') -%>
